{% use "form_div_layout.html.twig" %}

{# Widgets #}

{%- block form_widget_simple -%}
    {%- set type = type|default('text') -%}
    {%- if type == 'hidden' -%}
        {{- parent() -}}
    {%- else -%}
        {%- set attr_class = attr_class|default(block('class_input_text')) -%}
        {%- if type == 'range' -%}
            {%- set attr_class = block('class_input_range') -%}
        {%- elseif type == 'file' -%}
            {%- set attr_class = block('class_input_file') -%}
        {%- endif -%}
        {%- set attr = attr|merge({'class': (attr_class ~ ' ' ~ attr.class|default(''))|trim}) -%}
        {{- parent() -}}
    {%- endif -%}
{%- endblock form_widget_simple -%}

{%- block textarea_widget -%}
    {%- set attr_class = attr_class|default(block('class_textarea')) -%}
    {%- set attr = attr|merge({'class': (attr_class ~ ' ' ~ attr.class|default(''))|trim}) -%}
    {{- parent() -}}
{%- endblock textarea_widget -%}

{%- block choice_widget_collapsed -%}
    {%- set attr_class = attr_class|default(block('class_select')) -%}
    {%- set attr = attr|merge({'class': (attr_class ~ ' ' ~ attr.class|default(''))|trim}) -%}
    {{- parent() -}}
{%- endblock choice_widget_collapsed -%}

{%- block checkbox_widget -%}
    {%- set attr_class = attr_class|default(block('class_input_checkbox')) -%}
    {%- set attr = attr|merge({'class': (attr_class ~ ' ' ~ attr.class|default(''))|trim}) -%}
    {{- form_label(form, null, { widget: parent() }) -}}
{%- endblock checkbox_widget -%}

{%- block radio_widget -%}
    {%- set attr_class = attr_class|default(block('class_input_radio')) -%}
    {%- set attr = attr|merge({'class': (attr_class ~ ' ' ~ attr.class|default(''))|trim}) -%}
    {{- form_label(form, null, { widget: parent() }) -}}
{%- endblock radio_widget -%}

{%- block switch_widget -%}
    {%- set attr = attr|merge({'class': 'sr-only peer'}) -%}
    {{- form_label(form, null, { widget: block('checkbox_widget', 'form_div_layout.html.twig') }) -}}
{%- endblock switch_widget -%}

{% block money_widget -%}
    {%- set prepend = not (money_pattern starts with '{{') -%}
    {%- set append = not (money_pattern ends with '}}') -%}
    {%- if prepend or append -%}
        <div class="flex">
            {%- set attr_class = block('class_input_text') ~ ' ' ~ block('class_widget_addon_prepend') -%}
            {%- if prepend -%}
                {%- set attr_class = block('class_input_text') ~ ' ' ~ block('class_widget_addon_append') -%}
                <span class="{{ block('class_addon') ~ ' ' ~ block('class_addon_prepend') }}">{{ money_pattern|form_encode_currency }}</span>
            {%- endif -%}
            {% with { attr_class: attr_class } %}{{- block('form_widget_simple') -}}{% endwith %}
            {%- if append -%}
                <span class="{{ block('class_addon') ~ ' ' ~ block('class_addon_append') }}">{{ money_pattern|form_encode_currency }}</span>
            {%- endif -%}
        </div>
    {%- else -%}
        {{- block('form_widget_simple') -}}
    {%- endif -%}
{%- endblock money_widget %}

{% block percent_widget -%}
    {%- if symbol -%}
        {%- set attr_class = block('class_input_text') ~ ' ' ~ block('class_widget_addon_prepend') -%}
        <div class="flex">
            {%- with { attr_class: attr_class } -%}{{- block('form_widget_simple') -}}{%- endwith -%}
            <span class="{{ block('class_addon') ~ ' ' ~ block('class_addon_append') }}">{{ symbol|default('%') }}</span>
        </div>
    {%- else -%}
        {{- block('form_widget_simple') -}}
    {%- endif -%}
{%- endblock percent_widget %}

{%- block date_widget -%}
    {%- if widget == 'single_text' -%}
        {{ block('form_widget_simple') }}
    {%- else -%}
        {%- set attr = attr|merge({'class': attr.class|default('flex')|trim}) -%}
        {%- set attr_class_error = '' -%}
        {%- if not valid -%}
            {%- set attr_class_error = ' ' ~ block('class_input_error') -%}
        {%- endif -%}
        <div {{ block('widget_container_attributes') }}>
            {{- date_pattern|replace({
                '{{ year }}':  form_widget(form.year, { attr: { class: (block('class_widget_addon_append') ~ ' ' ~ attr_class_error|trim|tailwind_merge) }}),
                '{{ month }}': form_widget(form.month, { attr: { class: (block('class_widget_addon_prepend') ~ ' ' ~ attr_class_error|trim|tailwind_merge) }}),
                '{{ day }}':   form_widget(form.day, { attr: { class: ('rounded-none' ~ attr_class_error)|trim|tailwind_merge }}),
            })|raw -}}
        </div>
    {%- endif -%}
{%- endblock date_widget -%}

{%- block time_widget -%}
    {%- if widget == 'single_text' -%}
        {{ block('form_widget_simple') }}
    {%- else -%}
        {%- set attr = attr|merge({'class': attr.class|default('flex')|trim}) -%}
        {%- set attr_class_error = '' -%}
        {%- if not valid -%}
            {%- set attr_class_error = ' ' ~ block('class_input_error') -%}
        {%- endif -%}
        <div {{ block('widget_container_attributes') }}>
            {{- form_widget(form.hour, { attr: { class: ((with_minutes or with_seconds ? block('class_widget_addon_prepend') : '') ~ attr_class_error)|trim|tailwind_merge }}) -}}
            {%- if with_minutes -%}
                <span class="{{ block('class_time_separator') }}">:</span>
                {{- form_widget(form.minute, { attr: { class: ((with_seconds ? 'rounded-none' : block('class_widget_addon_append')) ~ attr_class_error|trim|tailwind_merge) }}) -}}
            {%- endif -%}
            {%- if with_seconds -%}
                <span class="{{ block('class_time_separator') }}">:</span>
                {{- form_widget(form.second, { attr: { class: (block('class_widget_addon_append') ~ attr_class_error)|trim|tailwind_merge }}) -}}
            {%- endif -%}
        </div>
    {%- endif -%}
{%- endblock time_widget -%}

{%- block button_widget -%}
    {%- set attr = attr|merge({'class': (attr.class|default(block('class_button')))|trim}) -%}
    {{- parent() -}}
{%- endblock button_widget %}

{%- block submit_widget -%}
    {%- set attr = attr|merge({'class': (attr.class|default(block('class_submit')))|trim}) -%}
    {{- parent() -}}
{%- endblock submit_widget %}

{# Labels #}

{%- block form_label -%}
    {% if label is not same as(false) -%}
        {%- set label_attr_class = (valid ? block('class_label') : block('class_label_error')) ~ ' ' ~ label_attr.class|default('') -%}
        {%- set label_attr = label_attr|merge({'class': label_attr_class|trim|tailwind_merge}) -%}
        {% if not compound -%}
            {% set label_attr = label_attr|merge({'for': id}) %}
        {%- endif -%}
        {% if required -%}
            {% set label_attr = label_attr|merge({'class': (label_attr.class|default('') ~ ' required')|trim}) %}
        {%- endif -%}
        <{{ element|default('label') }}{% with { attr: label_attr } %}{{ block('attributes') }}{% endwith %}>
        {{- block('form_label_content') -}}
        </{{ element|default('label') }}>
    {%- endif -%}
{%- endblock form_label -%}

{%- block checkbox_radio_label -%}
    {#- Do not display the label if widget is not defined in order to prevent double label rendering -#}
    {%- if widget is defined -%}
        {%- if checked and form.parent.vars.valid == false -%}
            {%- set valid = false -%}
        {%- endif -%}
        {%- set label_attr_class = (valid ? block('class_input_radio_label') : block('class_input_radio_label_error')) ~ ' ' ~ label_attr.class|default('') -%}
        {%- set label_attr = label_attr|merge({'class': label_attr_class|trim|tailwind_merge}) -%}
        {%- if not compound -%}
            {% set label_attr = label_attr|merge({'for': id}) %}
        {%- endif -%}
        <div class="flex items-center mr-4">
            {{ widget|raw }}
            <label{% with { attr: label_attr } %}{{ block('attributes') }}{% endwith %}>
                {%- if label is not same as(false) -%}
                    {{- block('form_label_content') -}}
                {%- endif -%}
            </label>
        </div>
    {%- endif -%}
{%- endblock checkbox_radio_label %}

{% block checkbox_label -%}
    {{- block('checkbox_radio_label') -}}
{%- endblock checkbox_label %}

{% block radio_label -%}
    {{- block('checkbox_radio_label') -}}
{%- endblock radio_label %}

{% block switch_label -%}
    {#- Do not display the label if widget is not defined in order to prevent double label rendering -#}
    {%- if widget is defined -%}
        {%- if checked and form.parent.vars.valid == false -%}
            {%- set valid = false -%}
        {%- endif -%}
        {%- set label_attr_class = (valid ? block('class_input_switch_label') : block('class_input_switch_label_error')) ~ ' ' ~ label_attr.class|default('') -%}
        {%- set label_container_attr_class = block('class_input_switch_label_container') ~ ' ' ~ label_container_attr.class|default('') -%}
        {%- set label_attr = label_attr|merge({'class': label_attr_class|trim|tailwind_merge})  -%}
        {%- set label_container_attr = label_container_attr|merge({'class': label_container_attr_class|trim|tailwind_merge}) -%}
        {%- if not compound -%}
            {%- set label_container_attr = label_container_attr|merge({'for': id}) -%}
        {%- endif -%}
        <label{% with { attr: label_container_attr } %}{{ block('attributes') }}{% endwith %}>
            {{ widget|raw }}
            <div class="{{ block('class_input_switch') }}"></div>
            {%- if label is not same as(false) -%}
                <span{% with { attr: label_attr } %}{{ block('attributes') }}{% endwith %}>
                    {{- block('form_label_content') -}}
                </span>
            {%- endif -%}
        </label>
    {%- endif -%}
{%- endblock switch_label %}

{# Help #}

{% block form_help -%}
    {%- if help is not empty -%}
        {%- set help_attr_class = (block('class_help_text') ~ ' '~ help_attr.class|default(''))|trim -%}
        {%- set help_attr = help_attr|merge({'class': help_attr_class}) -%}
        <p id="{{ id }}_help"{% with { attr: help_attr } %}{{ block('attributes') }}{% endwith %}>
            {{- block('form_help_content') -}}
        </p>
    {%- endif -%}
{%- endblock form_help %}

{# Rows #}

{%- block form_row -%}
    {%- set row_attr = row_attr|merge({'class': (row_attr.class|default('mb-3'))|trim}) -%}
    {%- set widget_attr = {} -%}
    {%- if help is not empty -%}
        {%- set widget_attr = {attr: {'aria-describedby': id ~"_help"}} -%}
    {%- endif -%}
    <div{% with {attr: row_attr} %}{{ block('attributes') }}{% endwith %}>
        {{- form_label(form) -}}
        {{- form_widget(form, widget_attr) -}}
        {{- form_errors(form) -}}
        {{- form_help(form) -}}
    </div>
{%- endblock form_row -%}

{# Misc #}

{%- block form_errors -%}
    {%- if errors|length > 0 -%}
        {%- for key, error in errors -%}
            <p id="{{ id }}_error_{{ key }}" class="{{ block('class_text_error') }}">{{ error.message }}</p>
        {%- endfor -%}
    {%- endif -%}
{%- endblock form_errors -%}

{# Support #}

{%- block widget_attributes -%}
    {%- set attr_class = attr.class|default('') -%}
    {%- if not valid %}
        {%- set attr_class = attr_class ~ ' ' ~ block('class_input_error') -%}
    {% endif -%}
    {%- if disabled %}
        {%- set attr_class = attr_class ~ ' ' ~ block('class_input_disabled') -%}
    {% endif -%}
    {%- set attr = attr|merge({'class': attr_class|trim|tailwind_merge}) -%}
    {{ parent() }}
{%- endblock widget_attributes -%}

{# Class #}

{% block class_label -%}
    block mb-2 text-sm font-medium text-gray-900 dark:text-white
{%- endblock class_label %}

{% block class_input_radio_label -%}
    ml-2 text-sm font-medium text-gray-900 dark:text-gray-300
{%- endblock class_input_radio_label %}

{% block class_input_switch_label -%}
    {{ block('class_input_radio_label') }}
{%- endblock class_input_switch_label %}

{% block class_input_switch_label_container -%}
    relative inline-flex items-center cursor-pointer
{%- endblock class_input_switch_label_container %}

{% block class_input_text -%}
    text-gray-900 bg-gray-50 rounded-lg text-sm block w-full p-2.5 border border-gray-300 focus:z-10 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:text-white dark:placeholder-gray-400 dark:focus:ring-blue-500 dark:focus:border-blue-500
{%- endblock class_input_text %}

{% block class_input_range -%}
    w-full h-2 bg-gray-200 rounded-lg appearance-none cursor-pointer dark:bg-gray-700
{%- endblock class_input_range %}

{% block class_input_file -%}
    block w-full text-sm text-gray-900 border border-gray-300 rounded-lg cursor-pointer bg-gray-50 dark:text-gray-400 focus:outline-none dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400
{%- endblock class_input_file %}

{% block class_input_radio -%}
    w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600
{%- endblock class_input_radio %}

{% block class_input_checkbox -%}
    rounded {{ block('class_input_radio') }}
{%- endblock class_input_checkbox %}

{% block class_input_switch -%}
    relative w-11 h-6 bg-gray-200 rounded-full peer peer-focus:ring-2 peer-focus:ring-blue-300 dark:peer-focus:ring-blue-800 dark:bg-gray-700 dark:border-gray-600 peer-checked:after:translate-x-full peer-checked:after:border-white after:content-[''] after:absolute after:top-0.5 after:left-[2px] after:bg-white after:border-gray-300 after:border after:rounded-full after:h-5 after:w-5 after:transition-all peer-checked:bg-blue-600
{%- endblock class_input_switch %}

{% block class_select -%}
    {{ block('class_input_text') }}
{%- endblock class_select %}

{% block class_textarea -%}
    {{ block('class_input_text') }}
{%- endblock class_textarea %}

{% block class_button -%}
    text-gray-900 bg-white font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2 border border-gray-200 hover:text-blue-700 hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:bg-gray-800 dark:border-gray-600 dark:hover:text-white dark:hover:bg-gray-700 dark:focus:ring-gray-700
{%- endblock class_button %}

{% block class_submit -%}
    text-white bg-blue-700 font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2 hover:bg-blue-800 focus:outline-none focus:ring-2 focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800
{%- endblock class_submit %}

{% block class_time_separator -%}
    inline-flex items-center px-3 text-sm text-gray-900 bg-gray-200 border border-x-0 border-gray-300 dark:bg-gray-600 dark:text-gray-400 dark:border-gray-600
{%- endblock class_time_separator %}

{% block class_addon -%}
    inline-flex items-center px-3 text-sm text-gray-900 bg-gray-200 border border-gray-300 dark:bg-gray-600 dark:text-gray-400 dark:border-gray-600
{%- endblock class_addon %}

{% block class_widget_addon_prepend -%}
    rounded-none rounded-l-lg
{%- endblock class_widget_addon_prepend %}

{% block class_widget_addon_append -%}
    rounded-none rounded-r-lg
{%- endblock class_widget_addon_append %}

{% block class_addon_prepend -%}
    border-r-0 rounded-l-md
{%- endblock class_addon_prepend %}

{% block class_addon_append -%}
    border-l-0 rounded-r-md
{%- endblock class_addon_append %}

{% block class_help_text -%}
    mt-2 text-sm text-gray-500 dark:text-gray-400
{%- endblock class_help_text %}

{% block class_label_error -%}
    block mb-2 text-sm font-medium text-red-600 dark:text-red-500
{%- endblock class_label_error %}

{% block class_input_radio_label_error -%}
    ml-2 text-sm font-medium text-red-600 dark:text-red-500
{%- endblock class_input_radio_label_error %}

{% block class_input_switch_label_error -%}
    {{ block('class_input_radio_label_error') }}
{%- endblock class_input_switch_label_error %}

{% block class_input_error -%}
    bg-red-50 border-red-500 text-red-900 placeholder-red-700 dark:bg-red-100 dark:border-red-500 dark:text-red-500 dark:placeholder-red-500 focus:z-10 focus:ring-red-500 focus:border-red-500 dark:focus:ring-red-500 dark:focus:border-red-500
{%- endblock class_input_error %}

{% block class_text_error -%}
    mt-2 text-sm text-red-600 dark:text-red-500
{%- endblock class_text_error %}

{% block class_input_disabled -%}
    disabled:bg-gray-100 disabled:border-gray-300 disabled:cursor-not-allowed dark:disabled:text-gray-400
{%- endblock class_input_disabled %}
